*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 202, 202);
}
@font-face {
    font-family: FuturaPTBold;
    src: url('./fonts/FuturaPT-Bold.ttf');
}
@font-face {
    font-family: FuturaPTBook;
    src: url('./fonts/FuturaPT-Book.ttf');
}
@font-face {
    font-family: FuturaPTMedium;
    src: url('./fonts/FuturaPT-Medium.ttf');
}
.navbar{
    height: 11vh;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 10;
}
.logo{
    width: 20%;
    height: 100%;
    margin-left: 100px;
}
.logo img{
    width: auto;
    height: 95%;
    object-fit: cover;
}
.action{
    margin-right: 130px;
    height: 100%;
    width: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.action button{
    height: 35px;
    width: 160px;
    background-color: #fff;
    color: #000;
    border: none;
    font-family: FuturaPTBold;
    font-size: 14px;
    text-transform:capitalize;
}
.trainer_profile{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.user_img{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_img img{
    height: 30px;
}
.menu_icon{
    font-size: 40px;
    color: #fff;
}
.hero{
    height: 100vh;
    min-height: 600px;
    background-image: url('./img/thao-le-hoang-1IPV7Slrz7w-unsplash.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.hero_content{
    height: 55vh;
    min-height: 330px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
.play_icon img{
    height: 80px;
}
.slogans{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.slogans h2{
    font-family: FuturaPTBold;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 1px 10px #0000004D;
text-transform: uppercase;
}
.slogans dd{
    font-family: FuturaPTBook;
    font-size: 20px;
}
.scroll_icon img{
    height: 85px;
}
.after_hero{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



@media only screen and (max-width: 480px){

    .navbar{
        height: 10vh;
        min-height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 10;
    }
    .logo{
        width: 20%;
        height: 100%;
        margin-left: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .logo img{
        height: 70%;
        width: auto;
        margin: 0;
        padding: 0;
    }
.action{
    width: 50%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.action button{
    height: 35px;
    width: 90px;
    background-color: #fff;
    color: #000;
    border: none;
    font-family: FuturaPTBook;
    font-size: 10px;
    text-transform:capitalize;
}
.trainer_profile{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.user_img{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_img img{
    height: 30px;
}
.menu_icon{
    font-size: 20px;
    color: #fff;
}
    
.hero{
    height: 100vh;
    background-image: url('./img/thao-le-hoang-1IPV7Slrz7w-unsplash.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.hero_content{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
.play_icon img{
    height: 50px;
}
.slogans{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.slogans h2{
    font-family: FuturaPTBold;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 1px 10px #0000004D;
text-transform: uppercase;
}
.slogans dd{
    font-family: FuturaPTBook;
    font-size: 14px;
}
.scroll_icon img{
    height: 45px;
}
.after_hero{
    width: 100%;
    height: 70px;
    background-color: rgb(163, 37, 37);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.after_hero h1{
    font-size: 18px;
    text-align: left;
}
}