.services{
    height: auto;
    width: 100%;
    padding: 20px 100px 0 100px;
    margin-top: 5px;
    background-color: #ffffff;
}
.deals_nav{
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-family: FuturaPTBold;
    text-transform: uppercase;
    font-size: 20px;
}
.deals_chevron{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.deals_nav button{
    height: 25px;
    width: 25px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 50%; 
}
.deals_div{
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.deal{
    height: 90%;
    width: 360px;
    min-width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 40px;
}
.deal_filter{
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #ffffff;
    height: 40px;
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: FuturaPTBook;
    text-transform: capitalize;
}
.image{
    height: 100%;
    width: 50%;   
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.deal_details{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.deal_details h3{
    font-size: 20px;
    font-family: FuturaPTBold;
}
.deal_details p{
    font-size: 14px;
    font-family: FuturaPTBook;
    color: #000000;
}
.deal_details span{
text-decoration: underline;
}
.deal_details button{
    height: 30px;
    width: 100px;
    font-family: FuturaPTMedium;
    text-transform: uppercase;
    border: none;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
}
.deal_details a{
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
}
.deal_details a:active{
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 480px){
    .services{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        /* padding: 20px 100px 0 100px; */
        margin-top: 5px;
        background-color: #ffffff;
        padding: 0;

    }
    .deals_nav{
        height: auto;
        min-height: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: FuturaPTBold;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
    }
    .deals_chevron{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .deals_div{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
    .deal{
        height: 500px;
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 0;
        margin: 0;

    }
    .deal_filter{
        position: absolute;
        top: 20px;
        left: 5%;
        background-color: #ffff;
        height: 40px;
        width: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-family: FuturaPTBook;
        text-transform: capitalize;
    }
    .image{
        height: 50%;
        width: 90%;
        padding: 0;
        margin: 0;
       
    }
    .image img{
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .deal_details{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
